*{
    padding: 0px;
    margin: 0px;
}

.mode{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px solid black; */

}

.btn{
    height: 20vh;
    width: 20vb;
    border-radius: 5px;
    background-color: #051FD0;
    color: #A0DC99;

}