*{
    padding: 0px;
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a{
    display: inline-block;
    padding: 20px;
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.content{
    margin-top: 90px;
    font-size: 23px;
    line-height: 90px;
}