*{
    padding:0px;
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #333333;
}

.navbar a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    font-size: 24px;
    color: white;
}

.navbar a:hover{
    background-color: orangered;
}
#dropbtn{
padding: 20px;
font-size: 20px;
 background-color: #333333;
 color: white;
 border: none;
}

#dropbtn:hover{
     background-color: orangered;
}



.dropdown{
    position: relative;
}

.dropdown-content{
    position: absolute;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: rgb(172, 167, 167);
    display: none;
}
.dropdown-content a{
    /* flex: 1; */
    text-align: center;
    

}

.dropdown:hover .dropdown-content{
    display: block;

}
