*{
    padding: 0px;
    margin: 0px;
}


.sidenav a{

    position: absolute; 
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    font-size: 24px;
    border: none;
    text-decoration: none;
    color: white;
    width: 100px;
    /* border: 2px solid black; */
    border-radius: 0px 5px 5px 0px;
}

.sidenav a:hover{
    left: 0;
}

#about{
    top: 20px;
    background-color: #04AA6D;
}

#blog{
    top: 90px;
    background-color: #2196F3;
}

#projects{
    top: 160px;
    background-color:#f44336 ;
}

#contact{
    top: 230px;
    background-color: #555;
}

